In [5]:
import pandas as pd
import requests
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - There is no [win32] chromedriver for browser 95.0.4638 in cache
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/95.0.4638.54/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\Graciela\.wdm\drivers\chromedriver\win32\95.0.4638.54]

In [6]:
news_url= 'https://redplanetscience.com/'
browser.visit(news_url)
time.sleep(5)

In [7]:
mars_html= browser.html
soup= bs(mars_html, 'html.parser')

In [8]:
newstitle=soup.find('div', class_='content_title').text
print(newstitle)


newstext= soup.find('div', class_='article_teaser_body').text
print(newstext)

Naming a NASA Mars Rover Can Change Your Life
Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.

In [10]:
image_url='https://spaceimages-mars.com/'
browser.visit(image_url)
browser.click_link_by_partial_text('FULL IMAGE')
featured_image_url= "https://spaceimages-mars.com/image/featured/mars1.jpg"

In [12]:
facts_url= 'https://galaxyfacts-mars.com/'
browser.visit(facts_url)
mars_df=pd.read_html(facts_url)[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
mars_df = mars_df.rename(columns={0: "Mars - Earth Comparison", 1: "Mars", 2: "Earth"})
mars_df

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [17]:
Marstable_html = mars_df.to_html("facts_table")
Marstable_html

In [18]:
hemespheres_url= 'https://marshemispheres.com/'
browser.visit(hemespheres_url)
hemespheres_html= browser.html
soup= bs(hemespheres_html, 'html.parser')

In [36]:
results=soup.find_all('div', class_= 'item')

hemURL_dict=[]
for result in results:
    title = result.h3.text
    href = result.find("a")["href"]
    h_image_url = f"https://marshemispheres.com/{href}"
    browser.visit(h_image_url)
    h_html = browser.html
    soup = bs(h_html, 'html.parser')
    h_image_url = soup.find("img", class_="wide-image").get("src")
    hemURL_dict.append({"title": title, "img_url": f"https://marshemispheres.com/{h_image_url}"})

In [37]:
browser.quit()